# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
/.idea/
/.editorconfig
/.gitattributes
/.htaccess
/css/.sass-cache/78e89a6d75a5cdf007c5e4c0c69a2ef350bc9821/
